<div class="bandeau" aria-hidden="true">
    <div class="bandeau__piste">
    <span>Rénovation totale</span><i></i><span>Peinture</span><i></i><span>Plâtrerie</span><i></i><span>Cloisons</span><i></i><span>Faux plafonds</span><i></i><span>Carrelage</span><i></i><span>Parquet &amp; linoléum</span><i></i><span>Papier peint</span><i></i><span>Nettoyage de fin de chantier</span><i></i>
    <span>Rénovation totale</span><i></i><span>Peinture</span><i></i><span>Plâtrerie</span><i></i><span>Cloisons</span><i></i><span>Faux plafonds</span><i></i><span>Carrelage</span><i></i><span>Parquet &amp; linoléum</span><i></i><span>Papier peint</span><i></i><span>Nettoyage de fin de chantier</span><i></i>
    </div>
  </div>