<ul class="partenaires__grille revele">
        <li><img src="https://static.wixstatic.com/media/2c1464_51a61ef883614cd79df85ed6455dc6e3~mv2.png" alt="Vitelli Architectes" width="380" height="99" loading="lazy" decoding="async"></li>
        <li><img src="https://static.wixstatic.com/media/2c1464_efbfbae88bc246848f6ef1b5f1eea865~mv2.png" alt="Gerofinance Régie du Rhône" width="2127" height="353" loading="lazy" decoding="async"></li>
        <li><img src="https://static.wixstatic.com/media/2c1464_1df3c1502edc4ed39aff38e01f7a9f5c~mv2.png" alt="Patrimonium" width="1531" height="212" loading="lazy" decoding="async"></li>
        <li><img src="https://static.wixstatic.com/media/2c1464_1557bff3aeef42d1b8c7c3430f45d23f~mv2.png" alt="Privera" width="1200" height="230" loading="lazy" decoding="async"></li>
        <li><img src="https://static.wixstatic.com/media/2c1464_79208b8bb756457aae973df6e4252ab1~mv2.png" alt="de Rham" width="504" height="108" loading="lazy" decoding="async"></li>
        <li><img src="https://static.wixstatic.com/media/2c1464_816153da3c114f20a00fba61b95b0415~mv2.png" alt="Galland &amp; Cie, régie immobilière" width="1080" height="303" loading="lazy" decoding="async"></li>
        <li class="partenaires__carre"><img src="https://static.wixstatic.com/media/2c1464_e0e4de49acaa4d66adf588419e89c526~mv2.png" alt="Groupe Bernard Nicod" width="432" height="432" loading="lazy" decoding="async"></li>
      </ul>